<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=titleCreateUser%></title>
    <%- include("partials/head")%>
  </head>
  <body>
    <%- include("partials/navBar")%>

    <div class="container mt-4">
      <div class="card border-secondary">
        <div class="card-header">Nuevo Registro</div>
        <div class="card-body">
          <form action="/saveUser" method="post">
            <div class="mb-3">
              <label for="user" class="form-label">Usuario</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                placeholder="Nombre del Usuario"
                tabindex="1"
                required
              />
            </div>
            <div class="mb-3">
              <label for="user" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Email del usuario"
                tabindex="2"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary" tabindex="3">
              Guardar
            </button>
            <a href="/user" class="btn btn-secondary">Cancelar</a>
          </form>
        </div>
      </div>
    </div>

    <%- include("partials/footer")%>
  </body>
</html>
