.imagenUsuario {
  background-color: black;
  display: flex;
}

#navbar {
  height: 4rem;
  padding: 0px 0px;
}

.navLogo{
  display: flex;
  justify-content: left;
  align-items: center;
}