<nav class="bg-dark" id="navbar">
  <div class="container-fluid">
    <a class="navLogo" href="/">
      <img src="/public/assets/img/navbar-logo.png" alt="" width="96" height="72" class=" align-text-top">

    </a>
  </div>
</nav>