<nav class="navbar bg-dark border-bottom border-body sticky-top" data-bs-theme="dark" id="navbar" style="opacity: 0.95">
  <div class="container-fluid">
    <a class="navLogo" href="/">
      <img src="/assets/img/navbar-logo.png" alt="" width="112" height="72" class=" align-text-top">
    </a>
    <a class="publishButton" href="/createEntry">
      <button type="button" class="btn btn-outline-success">Publicar</button>
    </a>
    <a class="entriesButton" href="/entries">
      <button type="button" class="btn btn-outline-success">Ver publicaciones</button>
    </a>
    <form class="d-flex collapse" method="POST" action="/searchPost">
      <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search" id="queryText" name="queryText">
      <button class="btn btn-outline-success" type="submit">
        <i class='bx bx-search-alt bx-spin' style='color:rgb(67, 221, 108)' ></i>
        </box-icon>
      </button>
    </form>
  </div>
</nav>
