<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://www.coolgenerator.com/Others/text_design_dl/text/Rk9SdW0gDQpOT3QNCldvcmRwcmVzcw==/font/en0001/size/35/color/71f5c7" alt="" width="128" height="64" class="d-inline-block align-text-top">
    </a>
  </div>
</nav>